.card {
    margin: $base-margin;
    width: 220px;
    position: relative;


    img {
        display: block;
        margin: 0 auto;
        border-radius: $base-border-radius;
        box-shadow: $card-box-shadow;
        border: $base-border-thickness*2 solid rgba(255, 255, 255, 0.184);
    }

    img:hover {
        box-shadow: $card-hovered-box-shadow;
        border: $base-border-thickness*2 solid rgba(255, 255, 255, 0.184);
    }
    .movie_title {
        font-weight: 500;
        text-align: center;
        font-size: $font-size-sm;
        padding: $base-padding;
        text-shadow: $header-text-shadow;
        letter-spacing: 1px;
    }
    .bage {
        position: absolute;
        top: -10px;
        left: 0;
        background-color: $bage;
        border-radius: 50%;
        padding: $base-padding;
        box-shadow: $bage-box-shadow;
        border: $base-border-thickness*2 solid rgba(255, 255, 255, 0.184);
        font-size: $font-size-sm;
        font-weight: 600;
    }

}

