.error {
    height: 100%;
    margin-bottom: $base-margin * 15;
    margin-top: $base-margin * 15;

    p {
        font-weight: 600;
        text-align: center;
        padding: $base-padding;
        margin: $base-margin;
    }
}